<div class="pull-right"><a href="#" data-toggle="tooltip" title="
    [b]fett[/b]
    [i]kursiv[/i]
    [u]unterstrichen[/u]
    [quote=Quelle]Zitat[/quote]
    [img]Bildlink[/img]   
    ">BBCode
  </a>
</div>
