# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7d03c3c0f89bec26eb43156fc613d7eeee47364bb6081487edce3ee490660f658e2649a70048a5db482a949780c1aa8551e6deef9c4cf4e5e54e72fe8e2ed47b

test:
  secret_key_base: a13d122f9950a3d87bcd3444e2e386bcceaeaa718712d516dcc0b24dca5f04250721ad7164441134a7b183a22107ae6964f24612293c384fd9106cd90f831c06

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
