# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 8e64980d481b82e82d9941ccd41f0c400224786175dbebe9daf48c0125e2d55f34a84c98ac3dad26e8313c923273154dac0731a6740bf60bb034cb7884d961f1

test:
  secret_key_base: 26ef702295ca4606450e43333b7995cd7e161040db15f108f6ce6129c8ab7daf053c4382d3fa5d35e80645b2e8e020ae276c04298186762557133fcabcfdaa3e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
