<p>Hallo <%= @resource.email %>!</p>

<p>Diese Email erhalten sie da ihr Passwort geändert wurde.</p>

<p>Sollten sie ihr Passwort nicht geändert haben kontaktieren sie bitte ihren Administrator</p>

<p>Viele Grüße</p>
