<p>Hallo <%= @resource.email %>!</p>

<p>Sie haben eine Zurücksetzung ihres Passworts beauftragt? Verwenden sie den folgenden Link:</p>

<p><%= link_to 'Passwort zur', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Sollten sie die Zurücksetzung nicht beauftragt haben, ignorieren sie diese Email bitte.</p>
<p>Ihr Passwort wird nicht zurück gesetzt solange dies nicht durch den oben angegebenen Link bestätigt wird.</p>

<p>Viele Grüße</p>
